<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We here at <span style="color: #333; font-family: 'Copse', serif;">six</span><span style="color: #DC0062; font-family: 'Copse', serif;">mk</span> wanted to thank you for being awesome!
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  We know you'll enjoy showing off your "Electoral Math" stickers as much as we do =]
</p>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  Right now we're preparing your order to be shipped to the following address:
</p>

<ul style="list-style: none;">
  <li><%= @name %></li>
  <li><%= @address.line1 %> <%= @address.line2 %></li>
  <li><%= @address.city %>, <%= @address.state %> <%= @address.zip %></li>
</ul>

<p style="padding-top: 12px; font-size: 14px; color: #666; line-height: 1.42;">
  You'll receive a shipment notification in a day or two, so please let us know if your address is incorrect by replying directly to this email.
</p>
