<!DOCTYPE html>

<!--  
sixmk, design + print needs fullfilled
-->

<%# 
Welcome. With th exception of the above, all comments
in these files will be rails comments, not HTML comments.
If you're truly curious you're in luck, this site is
open source, you may view all the raw code here: 
https://github.com/sixemkay/sixmk
%>

<html ng-app="sixmkApp">

  <head>
    
    <title>sixMK design + print | Graphic Design, Print, and more</title>

    <%# stylesheets %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto:300,300italic|Copse|Lobster' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%# scripts %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js' %>
    <%= javascript_include_tag 'application' %>
    
    <%# cross-site request forgery protection.  word. %>
    <%= csrf_meta_tags %>

    <%# fav icons %>
    <%# thankyou very much: http://realfavicongenerator.net %>
    <%# via: http://stackoverflow.com/questions/2268204/favicon-dimensions/23734416#23734416 %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <%# let's give ourselves a chance to look good on a phone %>
    <meta name="viewport" content="width=device-width" />
  
  </head>
  

  <body class="sixmk" ng-controller="SiteController" ng-init="initialize()" ng-cloak>
    <%= include_gon %>

    <%# <%= render partial: "shared/site_header" %>
    <%= render partial: "shared/sacrotees_header" %>
    
    <section class="page-container <%= yield(:class) if content_for?(:class) %>">
      <%= yield %>
    </section>

    <%= render partial: "shared/site_footer" %>

  </body>


  <%# Google Analytics %>
  <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-36200778-1', 'auto');
      ga('send', 'pageview');

    </script>
  <% end %>
  

</html>
